<app-create-target [targetGridOptions]="gridOptions"></app-create-target>
<div style="margin-top:50px;">
    <button class="btn" (click)="addTarget();" >Add New Target</button>&nbsp;
    <button class="btn" (click)="deleteTarget();" >Delete</button>
  </div>
<div class="grid-container">
  <ag-grid-angular style="width: 100%; height: 200px;" class="ag-theme-fresh" [(rowData)]="rowData" [columnDefs]="columnDefs"
    [gridOptions]="gridOptions" 
    (selectionChanged)="onRowSelectionChanged($event)"
    [enableSorting]="true"
    [enableFilter]="true">
  </ag-grid-angular>
</div>
