.header { height: 5.5rem; background-color: #223e6e; color: #fff; border-bottom: 2px solid #999999; box-shadow: 0 3px 10px #999999;}
.header-text {font-size: 2rem !important; padding: 1rem 1.5rem 0.5rem 3rem; float: left }
.right-menu { float: right; margin: 7px 10px 10px 10px; border-bottom: 1px solid #fff; font-weight: bold; font-size: 11px;}
.help { cursor: pointer; }
.footer {
    margin-top: 60px;
    text-align: center;
    height: 3.5rem;
    background-color: #223e6e;
    color: #fff;
    border-bottom: 2px solid #999999;
    box-shadow: 0 3px 10px #999999;
}
.footer-text {padding-top: 7px;}