<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
  <h1 class="page-title">
    Welcome to {{title}}!
  </h1>
  <div class="row">
    <div class="col-md-12">
      <app-acquisition-manager></app-acquisition-manager>
    </div>
  </div>
</div> -->
<!-- <div class="container">

  <header>
     <h1>{{title}}</h1>
  </header>
    
  
  <div class="row">
    <div class="col-md-12">
      <app-acquisition-manager></app-acquisition-manager>
    </div>
  </div>
  
  <footer>Copyright &copy; E&Y</footer>
  
  </div> -->

  <div class="header">
    <div class="header-text">Acquisition Manager</div>
    <div class="right-menu"><span class="mg10">Welcome SANKALP KARAKOTI</span>
      <span class="mg10">DEVELOPMENT</span><span class="mg10 help">Help</span>
    </div>
  </div>
  <div class="container" style="margin:10px">
      <app-acquisition-manager></app-acquisition-manager>
  </div>
  <div class="footer">
      <div class="footer-text">Copyright &copy; E&Y</div>
    </div>